---
import PortfolioCover from "../components/PortfolioCover.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col flex-1 justify-between">
    <PortfolioCover
      pageTitle="Proyectos Audiovisuales"
      image="Proyectos Audiovisuales"
      link="./projects"
    />
    <PortfolioCover
      pageTitle="Trabajos Realizados"
      image="Trabajos realizados"
      link="./work"
    />
  </div>
</BaseLayout>
