---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
---

<BaseLayout title="Proyectos Audiovisuales">
  <section class="grid grid-cols-1 md:grid-cols-2 p-6 md:p-20 gap-10 md:gap-20">
    <Project
      title="Alter Ego (2025)"
      description="Una serie de suspenso psicológico que sigue a una adolescente que despierta sin recordar lo ocurrido durante una noche que terminó en caos. 
      Fue realizada en diciembre de 2025 como proyecto de producción audiovisual."
      image="/images/Proyectos_Audiovisuales.webp"
      link="https://drive.google.com/file/d/13EW9lOj0Q2rUBTWgAafQYZclBVOzl6hs/view?usp=drive_link"
    />
    <Project
      title="Concret Brothers (2024)"
      description="Una pieza audiovisual en formato entrevista donde dos hermanos escultores comparten cómo comenzaron en el mundo del arte y muestran su espacio de trabajo. A lo largo del recorrido por su taller presentan algunas de sus esculturas y explican parte de su proceso creativo."
      image="/images/Concret_Brothers.webp"
      link="https://drive.google.com/file/d/1qcKooXhpkQWRNbLDJ599Z5wOSc_nMhm7/view?usp=drive_link"
    />
    <Project
      title="Adaptógenos: el bienestar bajo la tierra (2025)"
      description="Un proyecto documental que se adentra en el mundo de los hongos adaptógenos y sus propiedades vinculadas al bienestar y la salud. A través de entrevistas con especialistas y consumidores, se busca acercar al público a este universo de los hongos desde una perspectiva informativa y audiovisual. 
      El proyecto fue desarrollado a lo largo de varios meses de trabajo y presentado en diciembre."
      image="/images/Documental_Hongos_Adaptogenos.webp"
      link="https://drive.google.com/file/d/1uSoHP-wdfg0PPsihx7EtrrodXJSUUXzh/view?usp=drive_link"
    />
    <Project
      title="Entrevista a Walter Garrone (2025)"
      description="Una pieza audiovisual de carácter documental centrada en la trayectoria de un entrenador dedicado al básquet para personas ciegas. En una conversación íntima realizada en su hogar, Garrone comparte su recorrido en el deporte, su compromiso con la inclusión y distintos aspectos de su vida personal. 
Este proyecto fue realizado en 2025 como ejercicio de registro documental"
      image="/images/Entrevista_a_Walter_Garrone.webp"
      link="https://drive.google.com/file/d/1DC269l4mPZT5k9bYqZtWkGlT2Zyq8CEV/view?usp=drive_link"
    />
    <Project
      title="Instantes Urbanos (2023)"
      description="Una corriente cinematográfica que busca capturar la realidad de forma directa y natural, evitando la puesta en escena y la narración tradicional. Filmado en blanco y negro con cámara en mano, locaciones reales y sonido directo sin posproducción, el proyecto observa la vida cotidiana en la ciudad de Córdoba, poniendo especial atención en la gran cantidad de personas que trabajan vendiendo en las calles. 
      Realizado el 19 de julio de 2023."
      image="/images/Instantes_Urbanos.webp"
      link="https://drive.google.com/file/d/1e-4jk5qHU7CztgpM89y4tTjaitvW6DNb/view?usp=drive_link"
    />
    <Project
      title="Latidos de lo cotidiano (2024)"
      description="Una galería de imágenes propias donde lo que busco es mostrar la vida cotidiana de Serrano, no la vida acelerada de la ciudad ni los grandes eventos, sino lo que pasa en los momentos más simples, que son los que realmente hacen que un lugar tenga vida.
       Estas escenas, que pueden parecer tan comunes, encierran una verdad profunda sobre la vida del pueblo, un lugar donde el tiempo se detiene para permitir que lo cotidiano sea lo importante, donde la seguridad y la calma son naturales."
      image="/images/Latidos_de_lo_cotidiano.webp"
      link="https://drive.google.com/file/d/1jdJZ00N98hF0DKlHBMF_CAC5LOsGVlU2/view?usp=drive_link"
    />
    <Project
      title="Intro inspirada en Stranger Things (2022)"
      description="Una pieza audiovisual en la que se recrea el estilo estético y narrativo de la serie, desarrollando un breve tráiler inspirado en su universo visual. El proyecto buscó explorar recursos de edición, ritmo y atmósfera propios del género de misterio y ciencia ficción."
      image="/images/Intro_inspirada_en_Stranger_Things.webp"
      link="https://drive.google.com/file/d/1TbuYHz3TBkRuoB9EeLPjMKj3o_Gf878c/view?usp=drive_link"
    />
    <Project
      title="La vida cotidiana en el campo (2023)"
      description="Una serie fotográfica de estilo documental que retrata la cotidianidad del campo a través de distintas escenas de trabajo, animales, personas e infraestructura. Las imágenes buscan mostrar de manera cercana cómo se desarrolla el día a día en este entorno, poniendo en valor las actividades productivas, los vínculos con los animales y las condiciones de vida propias del ámbito rural."
      image="/images/La_vida_cotidiana_en_el_campo.webp"
      link="https://drive.google.com/file/d/1Un4YPaBIc7iYT3E_WSjHfYmVAd3V2Y0E/view?usp=drive_link"
    />
  </section>
</BaseLayout>
