---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
---

<BaseLayout>
  <section class="grid grid-cols-1 md:grid-cols-2 p-6 md:p-20 gap-10 md:gap-20">
    <Project
      title="MARTINA (2025)"
      image="/images/5.webp"
      description="Trabajo de creación de contenido para redes sociales de una tienda de indumentaria. Incluyó la producción fotográfica de prendas y el diseño de placas gráficas para las publicaciones. 2023-2024"
      iglink="martinatortu.cosmiatra"
    />
    <Project
      title="Lecturas y Reflexiones (2025)"
      image="/images/Trabajos realizados.webp"
      description="Es un trabajo de creación y gestión de contenido para redes enfocado a compartir reflexiones y lecturas vinculadas a la fe. El trabajo incluyó el desarrollo de la identidad visual desde cero (diseño de logo, selección de colores y estética) junto con la planificación y producción del contenido (grabación de videos, redacción de copys, edición y gestión de la cuenta) . El proyecto continúa en la actualidad."
      iglink="lecturasyreflexiones_"
    />
    <Project
      title="Casi Locales Stream (2025)"
      image="/images/2.webp"
      description="Es un trabajo de creación y gestión de contenido para redes enfocado a compartir reflexiones y lecturas vinculadas a la fe. El trabajo incluyó el desarrollo de la identidad visual desde cero (diseño de logo, selección de colores y estética) junto con la planificación y producción del contenido (grabación de videos, redacción de copys, edición y gestión de la cuenta) . El proyecto continúa en la actualidad."
      iglink="casilocales.stream"
    />
    <Project
      title="Óptica Luján "
      image="/images/3.webp"
      description="Trabajo de creación de contenido para redes sociales enfocado en la comunicación visual de la marca. Las tareas incluyeron el diseño de placas gráficas, la producción fotográfica de los lentes y la planificación de contenido para las publicaciones. El trabajo se desarrolló entre 2023 y 2024."
      iglink="optica.lujan_"
    />
    <Project
      class="col-span-1 md:col-span-2 md:w-[calc(50%-2.5rem)] justify-self-stretch md:justify-self-center"
      title="Siamo Tienda"
      image="/images/4.webp"
      description="Trabajo de creación de contenido para redes sociales de una tienda de indumentaria. Incluyó la producción fotográfica de prendas y el diseño de placas gráficas para las publicaciones. 2023-2024"
      iglink="siamo.tienda"
    />
  </section>
</BaseLayout>
