<section class="font-montserrat p-6 md:p-20 flex flex-col items-center">
  <h1 class="text-4xl md:text-6xl text-white pb-10 md:pb-40 text-center">SOBRE MI</h1>
  <div class="bg-white flex flex-col md:flex-row items-center">
    <div class="w-full md:w-3/5 p-6 md:p-8 text-sm md:text-base">
      <p>
        Soy <span class="font-extrabold underline">Lucía Tortú</span>,
        estudiante del último año de la carrera de Comunicación Audiovisual.
      </p>
      <p>
        Me caracterizo por ser una persona detallista, organizada y proactiva,
        con un fuerte sentido de responsabilidad y una gran disposición para
        asumir nuevos desafíos. Me interesa especialmente todo lo vinculado al
        diseño, la edición, la comunicación, la fotografía y los procesos
        creativos en el ámbito audiovisual.
      </p>
      <p>
        Actualmente me encuentro en la búsqueda de oportunidades que me permitan
        continuar desarrollando mis habilidades, aportar mis conocimientos y
        seguir creciendo profesionalmente.
      </p>
      <p>Si te interesa contactarme, ¡voy a estar encantada de conversar!</p>
    </div>
    <img class="w-full md:w-2/5 object-cover md:h-full" src="/images/hero_bg.webp" alt="Lucía Tortú" />
  </div>
</section>

<style>
  p {
    padding-bottom: 15px;
  }
</style>
