<footer class="bg-black px-10 pt-10 text-white">
  <section class="font-montserrat flex justify-between gap-20">
    <a href="/" class="hover:text-gray-400 transition-colors duration-300"
      >LUCÍA TORTÚ</a
    >
    <div class="flex gap-20">
      <a
        href="https://www.linkedin.com/in/luciatortu/"
        target="_blank"
        class="flex items-center gap-2 hover:text-gray-400 transition-colors duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 382 382"
          width="16"
          height="16"
          fill="currentColor"
        >
          <path
            d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472L341.91,330.654z"
          ></path>
        </svg>
        Linkedin
      </a>
      <a
        href="mailto:lucia.tortu@gmail.com"
        class="flex items-center gap-2 hover:text-gray-400 transition-colors duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          fill="#0f0f0f"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            fill="currentColor"
            d="M20 4C21.6569 4 23 5.34315 23 7V17C23 18.6569 21.6569 20 20 20H4C2.34315 20 1 18.6569 1 17V7C1 5.34315 2.34315 4 4 4H20ZM19.2529 6H4.74718L11.3804 11.2367C11.7437 11.5236 12.2563 11.5236 12.6197 11.2367L19.2529 6ZM3 7.1688V17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V7.16882L13.8589 12.8065C12.769 13.667 11.231 13.667 10.1411 12.8065L3 7.1688Z"
          ></path>
        </svg>
        Mail
      </a>
    </div>
  </section>
  <section class="text-xs pt-12 pb-5">
    <div class="text-center text-white">
      © 2026 Lucía Tortú. All rights reserved.
    </div>
    <div class="text-center">
      Desarrollado por <a
        rel="noopener noreferrer"
        target="_blank"
        href="https:/www.linkedin.com/in/agustin-giungi"
        class="text-neutral-600">Agustin Giungi</a
      >
    </div>
  </section>
</footer>
