<section
  class="flex max-h-fit justify-center items-center bg-black border-0 pl-20"
>
  <div
    class="aspect-square w-4/8 bg-white z-10 border-none shadow-none
              items-center justify-center flex flex-col gap-20 font-domine"
  >
    <h1 class="text-[clamp(0.5rem,2vw,2rem)] tracking-widest">Lucía Tortú</h1>
    <div class="flex flex-col items-center">
      <h1 class="text-[clamp(1rem,4vw,3rem)] tracking-wide">COMUNICADORA</h1>
      <h1 class="text-[clamp(1rem,4vw,3rem)] tracking-wide">AUDIOVISUAL</h1>
    </div>
    <a href="/contact" class="underline">Contactar</a>
  </div>
  <div
    class="aspect-square w-2/3 bg-neutral-900 -ml-30 border-none shadow-none"
  >
    <img
      class="w-full h-full object-cover"
      src="/images/hero_bg.webp"
      alt="Hero background"
    />
  </div>
</section>
