<section
  class="flex flex-col-reverse md:flex-row max-h-fit justify-center items-center bg-black border-0 md:pl-20"
>
  <div
    class="w-full md:aspect-square md:w-4/8 bg-white z-10 border-none shadow-none
              items-center justify-center flex flex-col gap-10 md:gap-20 font-domine py-16 px-6 md:p-0"
  >
    <h1 class="text-[clamp(1rem,3vw,2rem)] tracking-widest text-center">
      Lucía Tortú
    </h1>
    <div class="flex flex-col items-center text-center">
      <h1 class="text-[clamp(1.5rem,6vw,3rem)] tracking-wide">COMUNICADORA</h1>
      <h1 class="text-[clamp(1.5rem,6vw,3rem)] tracking-wide">AUDIOVISUAL</h1>
    </div>
    <a href="/contact" class="underline">Contactar</a>
  </div>
  <div
    class="w-full md:w-2/3 bg-neutral-900 md:-ml-30 border-none shadow-none relative"
  >
    <img
      class="w-full h-auto object-cover block"
      src="/images/hero_bg.webp"
      alt="Hero background"
    />
  </div>
</section>
