<nav
  class="flex justify-between items-center bg-black text-white px-10 py-11 font-montserrat font-light"
>
  <div class="logo">
    <a
      class="text-2xl tracking-widest hover:text-gray-400 transition-colors duration-300"
      href="/">LUCÍA TORTÚ</a
    >
  </div>
  <ul class="flex gap-10 list-none items-center">
    <li>
      <a class="hover:text-gray-400 transition-colors duration-300" href="/"
        >Home</a
      >
    </li>

    <li class="group relative z-10">
      <a
        class="hover:text-gray-400 transition-colors duration-300"
        href="/portfolio">Portfolio</a
      >
      <ul
        class="absolute top-full left-0 pt-2 bg-black min-w-max
               opacity-0 invisible translate-y-1
               group-hover:opacity-100 group-hover:visible group-hover:translate-y-0
               transition-all duration-300 ease-out"
      >
        <li>
          <a
            class="block px-5 py-3 whitespace-nowrap hover:text-gray-400 transition-colors duration-300"
            href="/projects">Proyectos audiovisuales</a
          >
        </li>
        <li>
          <a
            class="block px-5 py-3 whitespace-nowrap hover:text-gray-400 transition-colors duration-300"
            href="/jobs">Trabajos realizados</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a
        class="hover:text-gray-400 transition-colors duration-300"
        href="/about">Sobre mí</a
      >
    </li>
    <li>
      <a
        class="hover:text-gray-400 transition-colors duration-300"
        href="/contact">Contacto</a
      >
    </li>
  </ul>
</nav>
