<section class="px-30 p-10 flex justify-center">
  <h1
    class="bg-neutral-800 font-domine text-5xl text-white p-5 text-center leading-20"
  >
    "Creo desde el propósito, buscando generar emoción y conexión a través de lo
    audiovisual"
  </h1>
</section>
